<%= form_for @carrera, :html => { :class => "form-horizontal center" } do |f| %>

  <div class="form-group row">
    <div class="col-sm-2"><%= f.label :codigo, "Código:", class: "col-form-label" %><span class="text-danger"> *</span>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :codigo, class: "form-control capitalize", maxlength: "16" %>
      <% if @carrera.errors[:codigo].present? %>
        <p class="text-danger"><%= @carrera.errors[:codigo].join('. ') %></p>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2"><%= f.label :nombre, "Nombre:", class: "col-form-label" %><span class="text-danger"> *</span>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :nombre, class: "form-control", maxlength: "150" %>
      <% if @carrera.errors[:nombre].present? %>
        <p class="text-danger"><%= @carrera.errors[:nombre].join('. ') %></p>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2"><%= f.label :descripcion, "Descripción:", class: "col-form-label" %></div>
    <div class="col-sm-10">
      <%= f.text_area :descripcion, class: "form-control", maxlength: "250" %>
      <% if @carrera.errors[:descripcion].present? %>
        <p class="text-danger"><%= @carrera.errors[:descripcion].join('. ') %></p>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2"><%= f.label :fecha_baja, "Fecha Baja:", class: "col-form-label" %></div>
    <div class="col-sm-10">
      <% if @carrera.fecha_baja.nil? %>
        <div class="col-form-label"> -</div>
      <% else %>
        <div class="col-form-label"><%= @carrera.fecha_baja %></div>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4 col-sm-offset-2">
      <%= button_tag 'Cancelar', class: "btn btn-secondary btn-sm", type: "submit", name: "cancel", value: true %>
      <%= f.submit "Guardar", class: "btn btn-primary btn-sm" %>
    </div>
  </div>

<% end %>