<p id="notice"><%= notice %></p>

<p>
  <strong>Código:</strong>
  <%= @carrera.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @carrera.nombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @carrera.descripcion %>
</p>

<p>
  <strong>Fecha baja:</strong>
  <%= @carrera.fecha_baja %>
</p>

<%= link_to 'Edit', edit_carrera_path(@carrera) %> |
<%= link_to 'Back', carreras_path %>
