<p id="notice"><%= notice %></p>

<h1>Enlaces</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Link enlace</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enlaces.each do |enlace| %>
      <tr>
        <td><%= enlace.nombre %></td>
        <td><%= enlace.link_enlace %></td>
        <td><%= link_to 'Show', enlace %></td>
        <td><%= link_to 'Edit', edit_enlace_path(enlace) %></td>
        <td><%= link_to 'Destroy', enlace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enlace', new_enlace_path %>
