<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @item.titulo %>
</p>

<p>
  <strong>Posicion video:</strong>
  <%= @item.posicion_video %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
