<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @registro.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @registro.fecha_fin %>
</p>

<%= link_to 'Edit', edit_registro_path(@registro) %> |
<%= link_to 'Back', registros_path %>
